/* UserProfile.css */

.UserProfile {
  background-color: #e22d04dc;
  color: #fff;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  /* Align content to the left */
}

.ProfileInfo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.adminCenter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}